<article class="post">
    <div class="title">
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
    </div>
    <div class="meta post-info">
        {{post_content}} by {{user.username}} on {{format_date created_at}}
    </div>
</article>